<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hieuthuoc_QuocCuong.Properties.Settings.hieu_thuocConnectionString"
            connectionString="Data Source=DESKTOP-MCA4FUJ\MSSQLSERVER02;Initial Catalog=hieu_thuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="hieuthuoc_QuocCuong.Properties.Settings.HIeuThuoc_QuocCuongConnectionString"
            connectionString="Data Source=DESKTOP-MCA4FUJ\MSSQLSERVER02;Initial Catalog=HIeuThuoc_QuocCuong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>